<h2>マイページ</h2>
    <div class = "form-inline">
        <h5 class = "p-3 text-secondary">登録情報</h5>
        <div><%= link_to "編集する", edit_customers_path(current_customer.id), class:"btn btn-sm btn-outline-dark" %></div>
    </div>

    <table class = "table">
        <tr>
            <td>氏名</td><td><%= current_customer.full_name %></td>
        </tr>
        <tr>
            <td>カナ</td><td><%= current_customer.full_name_kana %></td>
        </tr>
        <tr>
            <td>郵便番号</td><td><%= current_customer.postal_code %></td>
        </tr>
        <tr>
            <td>住所</td><td><%= current_customer.address %></td>
        </tr>
        <tr>
            <td>電話番号</td><td><%= current_customer.telephone_number %></td>
        </tr>
        <tr>
            <td>メールアドレス</td><td><%= current_customer.email %></td>
        </tr>
    </table>

    <div class = "form-inline">
        <h5 class = "p-3 text-secondary">配送先</h5>
        <div><%= link_to "一覧を見る", addresses_path, class:"btn btn-sm btn-outline-dark" %></div>
    </div>
    <div class = "form-inline">
        <h5 class = "p-3 text-secondary">注文履歴</h5>
        <div><%= link_to "一覧を見る", orders_path(current_customer.id), class:"btn btn-sm btn-outline-dark" %></div>
    </div>
