<h2>商品編集録</h2>
<!--下記URLでcreate(POST)のURLを指定する。-->
<%= form_with model: @item, url:admin_items_path, method: :patch do |f| %>
  <h4>商品画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>商品名</h4>
  <%= f.text_field :name %>
  <h4>商品説明</h4>
  <%= f.text_area :introduction %>
  <h4>ジャンル</h4>
  <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), include_blank: "選択してください" %>
  <h4>税抜価格</h4>
  <%= f.text_field :price %>
  <h4>販売ステータス</h4>
  <%= f.radio_button :is_active, Item.is_actives.key(0) %>
  <%= f.label :is_active, Item.is_actives_i18n[:sale] %>

  <%= f.radio_button :is_active, Item.is_actives.key(1) %>
  <%= f.label :is_active, Item.is_actives_i18n[:stop_selling] %>

  <%= f.submit '変更を保存' %>
<% end %>