<div class ="container">
  <div class = "row">

    <h2 class = "col-10 mt-3">商品一覧</h2>
    <div class = "mt-3"><%= link_to "+", new_admin_item_path, class:"btn btn-light rounded-circle.p-0" %></div>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">商品ID</th>
            <th scope="col">商品名</th>
            <th scope="col">税抜価格</th>
            <th scope="col">ジャンル</th>
            <th scope="col">ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <td><%= item.is_active_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
  </div>
</div>

