

<!--<div class ="container">-->
<!--  <div class ="row">-->



    <div class ="position-relative d-flex offset-md-1 mt-5">
      <%= image_tag 'togitsuFTHG2329.jpg.webp', width: '50%', height: 'auto' %>
      <h5 class="position-absolute">
        ようこそながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </h5>
    </div>

    <h3 class ="pt-1 mx-auto">新着商品</h3>
      <% @items.each do |item| %>

        <span class ="pt-3 col-md-3">
          <!--<div class = "card">-->

            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, width: '100', height: 'auto' %>
            <% end %>
            <td><%= item.name %></td>
            <td><%= item.price %></td>
          <!--</div>-->
        </span>
      <% end %>
      <!--<li class="nav-item">-->
        <div><%= link_to "商品一覧 >>", items_path, class: 'nav-link text-dark' %></div>
      <!--</li>-->

<!--  </div>-->
<!--</div>-->

