<h2><%= @customer.full_name %>さんの会員情報編集</h2>
<%= form_with model: @customer, url:admin_customer_path, method: :patch do |f| %>
<h4>会員ID</h4>
<p><%= @customer.id %></p>
<h4>氏名</h4>
<%= f.text_field :last_name %>
<%= f.text_field :first_name %>
<h4>フリガナ</h4>
<%= f.text_field :last_name_kana %>
<%= f.text_field :first_name_kana %>
<h4>郵便番号</h4>
<%= f.text_field :postal_code %>
<h4>住所</h4>
<%= f.text_field :address %>
<h4>電話番号</h4>
<%= f.text_field :telephone_number %>
<h4>メールアドレス</h4>
<%= f.text_field :email %>

<%= f.radio_button :is_deleted, Customer.is_deleted.key(false) %>
<%= f.label :is_deleted, Customer.is_deleteds_i18n[:valid] %>

<%= f.radio_button :is_deleted, Customer.is_deleted.key(true) %>
<%= f.label :is_deleted, Customer.is_deleteds_i18n[:invalid] %>

<%= f.submit '変更を保存' %>
