<h2>注文履歴詳細</h2>
<h4>購入者</h4>
<p><%= link_to order.customer.full_name, admin_customer_path(customer.id) %></p>
<h4>注文日</h4>
<p><%= @order.updated_at %></p>
<h4>配送先</h4>
<p><%= @order. %></p>
<h4>支払方法</h4>
<p><%= @order. %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価（税込）</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.with_tax_price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>商品合計</h4>
<p><% @total += order_detail.subtotal %>円</p>
<h4>送料</h4>
<p><%=. %></p>
<h4>請求金額合計</h4>
<p><%=. %></p>