<div class="container">
  <div class="row no-gutters">
    <h2 class="col-md-5">ショッピングカート</h2>

    <div class="col-md-2 pull-right"><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, "data-confirm" => "すべて削除しますか？" %></div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <% @total = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image, width: '100', height: 'auto' %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.with_tax_price %></td>
              <!--数量の変更（プルダウン）-->
              <td>
                <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
                    <%= f.select :amount, *[1..10]  %>
                    <%= f.submit '変更' %>
                <% end %>
              </td>
              <!--小計-->
              <td><%= cart_item.subtotal %></td>
              <!--個別削除-->
              <td>
                <!--<button type = "button" class: "btn btn-outline-denger">-->
                  <%= link_to "削除", cart_item_path(cart_item.id), method: :delete, "data-confirm" => "削除しますか？" %>
                <!--</button>-->
              </td>
            </tr>
            <% @total += cart_item.subtotal %>

          <% end %>

          <tr>
            <td><%= link_to "買い物を続ける", root_path %></td>
            <td></td>
            <td></td>
            <td>合計金額</td>
            <td><%= @total %></td>
          </tr>
        </tbody>

      </table>
      <button align = "center" class><%= link_to "情報入力に進む", new_order_path %></button>
  </div>
</div>