<h2>注文履歴一覧</h2>
<div class="container">
  <div class="row no-gutters">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">注文日</th>
          <th scope="col">配送先</th>
          <!--<th scope="col">注文商品</th>-->
          <th scope="col">支払金額</th>
          <th scope="col">注文詳細</th>
        </tr>
       </thead>

       <tbody>
         <% @order.each do |order_detail| %>
            <tr>
                <td><%= order_detail.updated_at.strftime('%Y/%m/%d') %></td>
                <td>
                    <%= order_detail.postal_code %>
                    <%= order_detail.address %>
                    <%= order_detail.name %>
                </td>
                <!--<td>%= order_detail.items.name %></td>-->
                <td><%= order_detail.total_payment %></td>
                <td><%= link_to "表示する", order_path(order_detail.id) %></td>
             </tr>
         <% end %>
       </tbody>


    </table>
  </div>
</div>
